*
!go.mod
!go.sum
!VERSION
!cmd/
!cmd/**
!internal/
!internal/**
internal/**/*_test.go
!sunpanel/
!sunpanel/**
sunpanel/node_modules
sunpanel/dist
sunpanel/service/integration/web
sunpanel/service/**/*_test.go
